@import "../../styles/variables.scss";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    align-items: center;
    display: flex;
    font-weight: bold;
    gap: 10px;

    img {
      width: 62px;
      border-radius: 10px;
    }

    .title {
      font-size: large;
    }
  }
  .end {
    display: flex;
    gap: 20px;
    align-items: center;
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      img {
        width: 25px;
      }
    }
    .logout {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: $soft-bg;
      &:hover {
        background-color: rgb(235, 82, 82);
      }
      img {
        width: 25px;
      }
    }
  }
}
