.dailyProfit {
  display: flex;
  height: 100%;

  .boxInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      font-size: large;

      img {
        width: 50px;
        height: 50px;
      }
    }
    .sum {
      font-size: xx-large;
      margin: 20px;
    }
    .link {
      font-size: small;
      cursor: pointer;
      color: #2980b9;
    }
    .link:hover {
      text-decoration: underline;
    }
  }

  .chartInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart {
      height: 100%;
      width: 100%;
    }
  }
}
